
Oppgave-2/Oppgave-2/obj/project.nuget.cache
Oppgave-2/Oppgave-2/obj/Oppgave-2.csproj.nuget.dgspec.json
Oppgave-2/Oppgave-2/obj/project.assets.json
Oppgave-2/Oppgave-2/obj/Oppgave-2.csproj.nuget.g.props
Oppgave-2/.vs/Oppgave-2/v17/DocumentLayout.json
Oppgave-2/Oppgave-2/obj/Debug/net9.0/Oppgave-2.GeneratedMSBuildEditorConfig.editorconfig
Oppgave-2/Oppgave-2/obj/Oppgave-2.csproj.nuget.g.targets
Oppgave-2/Oppgave-2/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Oppgave-2/Oppgave-2.sln
Oppgave-2/Oppgave-2/obj/Debug/net9.0/Oppgave-2.GlobalUsings.g.cs
Oppgave-2/Oppgave-2/obj/Debug/net9.0/Oppgave-2.assets.cache
Oppgave-2/Oppgave-2/obj/Debug/net9.0/Oppgave-2.AssemblyInfoInputs.cache
Oppgave-2/Oppgave-2/obj/Debug/net9.0/Oppgave-2.AssemblyInfo.cs
Oppgave-2/.vs/Oppgave-2/v17/.suo
Oppgave-2/.vs/Oppgave-2/FileContentIndex/49038b25-0826-4e3c-9685-e92c5f35d5ab.vsidx
